<div class="row">
    <div class="row row-cols-2">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Lista de Alunos
            </a>
            <a class="list-group-item list-group-item-action"
            *ngFor="let aluno of alunos"
            [routerLink]="[aluno.id]">
            {{ aluno.name }}
            </a>
        </div>
    
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
